@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

:root {
  --white: #FFF5E1;
  --black: #1E201E;
  --purple: #9c4dc7;
  --grey: #686D76;
  --darkgrey: #1b1b1b;
  --green: #9BEC00;
  --red: #FF0000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
  font-family: "Geologica", sans-serif;
}

::selection {
  background-color: var(--purple);
  color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 3rem;
}

img {
  -webkit-user-drag: none;
  -moz-user-select: none;
  -khtml-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}